mode: <mode>
foo:
    bar: <text>
    baz: <123>
    test_env: <${env_var}>
data:
    bool: <False>
    string: <text>
    int: <1>
    float: <0.1>
    list: <[1, 2, 3]>
    dict:
        from: <to>

